numpy
nltk
pydub
librosa == 0.8
numba
tflearn
matplotlib
deepspeech==0.8.2
webrtcvad
pyqt5
webrtcvad
paho-mqtt==1.5.1
tf-models-official==2.3.0
bert-serving-client==1.10.0
bert-serving-server==1.10.0
pydot

# tensorflow==2.4.1
tensorflow-addons==0.12.1
tensorflow-datasets==4.2.0
tensorflow-estimator==2.4.0
# tensorflow-gpu==2.4.1
tensorflow-hub==0.11.0
tensorflow-metadata==0.28.0
tensorflow-model-optimization==0.5.0
tensorflow-text==2.4.3
# tensorflow_examples